#description
{
	position:relative;
	float:left;
	border-style:solid;
	border-width:2px;
	border-radius: 10px;
}

.nextEvents
{
	position:relative;
	float:right;
	width:33%;
	border-style:solid;
	border-width:2px;
	border-radius: 10px;
}

.editProperty
{
	position:relative;
	float:left;
	width:33%;
	border-style:solid;
	border-width:2px;
	border-radius: 10px;
}

.banner
{
	width:80%;
	position:relative;
	float:left;
}

#myEvents
{
	position:relative;
	float:left;
	width:33%;
	border-style:solid;
	border-width:2px;
	border-radius: 10px;
}

#myInscriptions
{
	position:relative;
	float:left;
	width:33%;
	border-style:solid;
	border-width:2px;
	border-radius: 10px;
}

body
{
	background-color:#E5E5E5;
}

.headerButtonArea
{
	position:relative;
	float:right;
	width:19%;
	border-style:solid;
	border-width:2px;
	border-radius: 10px;
}

#eventCreationArea
{
	/*border-style:solid;
	border-width:2px;
	border-radius: 10px;	A voir si on garde cette bordure ou le fieldset*/
	position:relative;
	clear:both;
}

.underlined
{
	text-decoration:underline;
}

.box
{
	background-color:white;
}
